.container{
    display:block;
    text-align: center;
}

canvas{
}

.controls{
    display: flex;
    /* position: fixed;
    z-index: 10; */
    align-items: center;
    justify-content: center;
}

.controls > button{
    padding: 10px;
    font-size: 20px;
    margin: 5px 10px;
}

@media only screen and (max-width: 450px) {
    .controls > button{
        font-size: 15px;
    }
}
